*{
    padding: 0;
    margin: 0;

}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
.container{
    background-color:#ffffff;
    width: 870px;
    padding: 30px;

}
hr{
    border: 1px solid #D1D1D1;
    
}
main{
    display: flex;
    justify-content: center;
}
/* top player style */
.top-palyers{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 3px;
    margin-bottom: 20px;

}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player img{
    width: 56px;
    height: 56px;
    
}
.player{
    display: flex;
    align-items: center;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}